<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
            background: skyblue;
            font-family: verdana; color: rgb(12, 0, 0); padding: 30px;
        }
        h1{
            font-size: 48px; text-transform: uppercase; letter-spacing: 2px;
            text-align: center;
        }
        h2{ text-align: center;}
        p, li{
            font-size: 16px; text-align: center;
        }
        ul {list-style-type: none; padding: 0; text-transform: uppercase;}
    </style>

    
</head>
<body>
  
    <h1>Contact me , thanks</h1>

    <p>Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor incididunt
         ut labore et dolore magna aliqua. Ut enim 
         ad minim veniam, quis nostrud exercitation
        </p>

        <h2>Hobbies</h2>
        <!-- <ul>
            <% data.hobbies.forEach((item) => { %>
                <li> <%= item %></li>
           <% }); %>
        </ul> -->
</body>
</html>